doc/*
!doc/jsdoc-custom.css
!doc/layout.tmpl
!doc/README.md
node_modules/
typings/

# these are typescript now
# eventually, all src/*.page.js files
# can be ignored with a glob.
src/rxComponent.js

src/rxAccountInfo.page.js
src/rxActionMenu.page.js
src/rxAge.page.js
src/rxBreadcrumbs.page.js
src/rxBulkSelect.page.js
src/rxBulkSelect.exercise.js
src/rxCheckbox.page.js
src/rxCheckbox.exercise.js
src/rxCharacterCount.page.js
src/rxCharacterCount.exercise.js
src/rxCollapse.page.js
src/rxCollapse.exercise.js
src/rxCopy.page.js
src/rxCopy.exercise.js
src/rxDatePicker.page.js
src/rxDatePicker.exercise.js
src/rxDiskSize.page.js
src/rxFeedback.page.js
src/rxFieldName.page.js
src/rxFieldName.exercise.js
src/rxForm.page.js
src/rxLocalStorage.page.js
src/rxMetadata.page.js
src/rxMetadata.exercise.js
src/rxMisc.page.js
src/rxModalAction.page.js
src/rxMultiSelect.page.js
src/rxMultiSelect.exercise.js
src/rxNotify.page.js
src/rxPaginate.page.js
src/rxPaginate.exercise.js
src/rxRadio.page.js
src/rxRadio.exercise.js
src/rxSearchBox.page.js
src/rxSearchBox.exercise.js
src/rxSelect.page.js
src/rxSelect.exercise.js
src/rxSelectFilter.page.js
src/rxSortableColumn.page.js
src/rxStatusColumn.page.js
src/rxTags.exercise.js
src/rxTags.page.js
src/rxTimePicker.page.js
src/rxTimePickerUtil.page.js
src/rxToggleSwitch.exercise.js
src/rxToggleSwitch.page.js
src/tabs.page.js
src/tooltip.page.js
src/typeahead.page.js

test/hotkeys.midway.js
test/rxAccountInfo.midway.js
test/rxActionMenu.midway.js
test/rxAge.midway.js
test/rxAutoSave.midway.js
test/rxBreadcrumbs.midway.js
test/rxBulkSelect.midway.js
test/rxBytesConvert.midway.js
test/rxCheckbox.midway.js
test/rxCharacterCount.midway.js
test/rxCollapse.midway.js
test/rxCopy.midway.js
test/rxDatePicker.midway.js
test/rxDiskSize.midway.js
test/rxFeedback.midway.js
test/rxFloatingHeader.midway.js
test/rxForm.midway.js
test/rxLocalStorage.midway.js
test/rxMetadata.midway.js
test/rxModalAction.midway.js
test/rxMultiSelect.midway.js
test/rxNotify.midway.js
test/rxPaginate.midway.js
test/rxPermission.midway.js
test/rxRadio.midway.js
test/rxSearchBox.midway.js
test/rxSelect.midway.js
test/rxSelectFilter.midway.js
test/rxSortableColumn.midway.js
test/rxStatusColumn.midway.js
test/rxTags.midway.js
test/rxTimePicker.midway.js
test/rxTimePickerUtil.midway.js
test/rxToggle.midway.js
test/rxToggleSwitch.midway.js
test/tabs.midway.js
test/typeahead.midway.js